@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200');



#img > img {
    display: block;
    margin: auto;
    width: 650px;
    height:350px;
    padding: 10px;
}

h2  {
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

ul {
    list-style-type: none;
    padding: 14px;
    overflow: hidden;
    background-color: WHITE;
}

li {
    float: RIGHT;
}

li a {
    display: inline-block;
    color: BLACK;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
        padding: 20px 30px;
}



footer {
     position: absolute;
       color: white;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
   font-family: "Titillium Web", sans-serif;
    font-weight: 300;
  background-color: #3D3C3A;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    height: 300px}


  .about {
    padding: 40px;
    text-align: center;
     font-family: "Titillium Web", sans-serif;

  }

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }

            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
}



.bs-calltoaction.bs-calltoaction-default{
      font-family: "Titillium Web", sans-serif;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
      font-family: "Titillium Web", sans-serif;
    color: #999999;
    background-color: #ffffff;
    border-color: #415b72;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .btn btn-1 btn-1a
{
    text-align: center;
}


